<div class="container">
    <h1>Enrollment form</h1>
    <form #userForm="ngForm">

        {{userForm.value | json}}
        <hr />
        {{userModel | json}}
        name is must with ngmodel
        <div ngModelGroup="address">
             <div class="form-group">
                 <label>street</label>
                 <input type="text" class="form-control" name="street" ngModel>
             </div>
             <div class="form-group">
                <label>Area</label>
                <input type="text" class="form-control" name="Area" ngModel>
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" name="Postal Code" ngModel>
            </div>
            <div class="form-group">
                <label>Country</label>
                <input type="text" class="form-control" name="Country" ngModel>
            </div>
         </div> 

        <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="userModel.name">
        </div>

        <div class="form-group">
            <label>Email-Id</label>
            <input type="email" class="form-control" name="Email-ID" [(ngModel)]="userModel.email">
        </div>

        <div class="form-group">
            <label>Telephone number</label>
            <input type="tel" class="form-control" name="Phone" [(ngModel)]="userModel.phone">
        </div>

        <div class="form-group">
            <select class="custom-select" name="Topic" [(ngModel)]="userModel.topic">
                <option value="">I am interested in</option>
                <option *ngFor='let topic of topics'>{{topic}}</option>
            </select>
        </div>

        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input class="form-check-input mr-2" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
                <label class="form-check-label ml-4">Morning (9AM - 12PM)</label>
            </div>
            <div class="form-check">
                <input class="form-check-input mr-2" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
                <label class="form-check-label ml-4">Evening (5PM - 8PM)</label>
            </div>
        </div>

        <div class="form-check mb-3">
            <input class="form-check-input mr-2" name="subscribe" [(ngModel)]="userModel.subscribe" type="checkbox">
            <label class="form-check-label ml-4">
                Send me promotional offers
            </label>
        </div>

        <div class="btn btn-primary" type="submit">Submit Form</div>
    </form>
</div>

