<div class="container-fluid">
    <div class="header">
        <div class="row">
            <div class="col-md-3">
               
            </div>
            <div class="col-md-6">

            </div>
            <div class="col-md-3">

            </div>
        </div>
    </div>
    <div class="">
        <div class="row">
            <div class="col-md-4 p-0">
                <img src="https://ii1.pepperfry.com/media/catalog/product/w/e/568x625/wellesley-solid-wood-rocking-chair-in-provincial-teak-finish-by-amberville-wellesley-solid-wood-rock-k3pkkx.jpg"
                    class="chair_image">
            </div>
            <div class="col-md-8 content">
                <div class="">
                    <div class="row">
                        <div class="col-md-5">
                            <p class="sales">Sales Off</p>
                        </div>
                        <div class="col-md-7">
                            <div class="discount">
                                <p class="discount_value">-35%</p>
                            </div>
                        </div>
                    </div>
                    <p class="heading">Sofas<span class="subheading"> and</span></p>
                    <p class="heading">Armchairs</p>
                    <div class="row">
                        <div class="col-md-8">
                            <p class="sale_des my-3">Hey Annie, it’s Russ from Wag! I wanted to welcome you to our text
                                program. Our newest
                                way to reach customers. We look forward to chatting with you more soon!Hey Annie, it’s
                                Russ from
                                Wag! I wanted to welcome you to our text program. Our newest way to reach customers. We
                                look
                                forward to chatting with you more soon!</p>
                        </div>
                    </div>
                    <div class="btn btn-primary rounded-0">Explore All Item
                        <i class="fa fa-arrow-right float-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>