.pubg_mortal{
    color: yellow;
    font-size:  50px;
    font-weight:  bold;
}
.border{
    color:white;
    border:3px solid !important;
    font-family: 'Times New Roman', Times, serif;
}


.vijay{
 color:red;
 font-size:50px;
 font-weight:bold;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.road{
    border:3px solid red;
}























.zal{
    font-size: 60px;
    color:blue;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}