<div class="card p-4 ">
<p [ngStyle]="{backgroundColor:getColor()}">Server id is {{s_id}} and status is {{getServerStatus()}}</p>
</div>
<div class="card p-4 mt-4">
    <div class="">
        <button class="btn btn-primary mr-3" (click)="opendiv()">
            click
        </button>
        <span [hidden]="islogin === false" (click)="closediv()"><i class="fa fa-close mr-3"
                style="font-size:15px"></i></span>
        <button class="btn btn-primary mr-3" (click)="opensecond()">
            second
        </button>
        <span [hidden]="islog === false" (click)="closesecond()"><i class="fa fa-close"
                style="font-size:15px"></i></span>
    </div>
    <div *ngIf="islogin">
        <!-- String interpolation -->
        <div class="">
            <label>User_id</label>
            <input type="text" class="form-control" [(ngModel)]="serverID">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="serverStatus">
            <button class="btn btn-success mt-3" (click)="onUpdate()">Update</button>
        </div>
        <p class="mr-2">{{updatestatus}} </p>
    </div>
    <div class="" *ngIf="islog">
        <div class="">
            <label>User</label>
            <input type="text" class="form-control" [(ngModel)]="serverID">
            <label>Password</label>
            <input type="password" class="form-control" [(ngModel)]="serverStatus">
            <button class="btn btn-success mt-3" (click)="onUpdate()">Update</button>
        </div>
        <p class="mr-2">{{updatestatus}} </p>
    </div>
</div>